<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lit.mapper.SurveyOptResultMapper">
  <resultMap id="BaseResultMap" type="com.lit.entity.SurveyOptResult">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="survey_id" jdbcType="INTEGER" property="surveyId" />
    <result column="opt_id" jdbcType="INTEGER" property="optId" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="voter" jdbcType="VARCHAR" property="voter" />
  </resultMap>
  <sql id="SurveyOptResultFindCondition">
    <where>
      <if test="id!=null">id=#{id}</if>
      <if test="surveyId!=null"> and survey_id =#{surveyId} </if>
      <if test="optId!=null"> and `opt_id` =#{optId} </if>
      <if test="questionId!=null"> and `question_id` =#{questionId} </if>
      <if test="createtime!=null">and createtime =#{createtime} </if>
      <if test="voter!=null">and `voter` =#{voter} </if>

    </where>
  </sql>
  <sql id="SurveyOptResultUpdateCondition">
    <set>
      <if test="id!=null">id=#{id},</if>
      <if test="surveyId!=null">  survey_id =#{surveyId}, </if>
      <if test="optId!=null">  `opt_id` =#{optId} </if>
      <if test="questionId!=null">  `question_id` =#{questionId} ,</if>
      <if test="createtime!=null"> createtime =#{createtime} ,</if>
      <if test="voter!=null"> `voter` =#{voter} </if>

    </set>
  </sql>
  <select id="query" resultMap="BaseResultMap">
    select * from survey_opt_result
    <include refid="SurveyOptResultFindCondition"></include>
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into survey_opt_result
    values (null ,#{surveyId},#{optId},#{questionId},#{createtime},#{voter});
  </insert>

  <select id="count" resultType="int">
    select count(1) from survey_opt_result
    <include refid="SurveyOptResultFindCondition"></include>
  </select>

  <update id="update">
    update survey_opt_result
    <include refid="SurveyOptResultFindCondition"></include>
    <include refid="SurveyOptResultUpdateCondition"></include>
  </update>

  <select id="detail" resultMap="BaseResultMap">
    select * from survey_opt_result
    <include refid="SurveyOptResultFindCondition"></include>
    limit 1
  </select>
  <delete id="delete">
    delete from survey_opt_result
    <include refid="SurveyOptResultFindCondition"></include>
  </delete>
</mapper>